* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4a7dff;
}

.container {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
}
.lee{
    color: #fffb11;
  
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 5px solid #333;
    border-radius: 10%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fffb11;
    border-radius: 10%;
    border: 5px solid #333;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
.winner {
    background-color: lightgreen;
    animation: flash 0.5s ease-in-out infinite alternate;
}

@keyframes flash {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}
